@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

body {
    width: 100%;
    background-color: #fffdf3;
}

header {
    position: sticky;
    top: 0;
}

nav.navigation {
    width: 100%;
    display: flex;
    background-color: #ffffff;
    height: 80px;
    padding: 12px 120px 12px 120px;
    border-bottom: 1px solid rgba(58, 53, 65, 0.12);
}

nav ul li.logo {
    height: 56px;
}

main.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 120px 64px 120px;
    gap: 36px;
}

article.container-login {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 590px;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    padding: 36px;
    gap: 24px;
}

.header-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 20px;
    margin-bottom: 36px;
}

.header-form > h1 {
    text-align: center;
    font-weight: 600;
    line-height: 110.00000000000001%;
}

.header-form > span {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
    color: #333333ad;
}

.container-input-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input-login-primary {
    width: 100%;
    height: 48px;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
    padding: 4px 10px 4px 10px;
}

span.asterisk {
    font-family: Poppins, sans-serif;
    color: #d32e1f;
}

.hide-eye {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 420px;
    right: 470px;
}

.label1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #4a505c;
    padding-right: 4px;
    padding-bottom: 4px;
    gap: 4px;
}

span.forgotpassword {
    align-self: flex-end;
    padding-bottom: 24px;
}

span.forgotpassword a {
    font-family: 'DM Sans', sans-serif;
    color: rgba(51, 51, 51, 0.68);
    text-decoration: none;
    font-weight: 500;
}

.container-bottom-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-button-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button {
    font-family: 'DM Sans', sans-serif;
    width: 518px;
    height: 42px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.button-primary {
    color: #ffffff;
    background-color: #3ecf4c;
}

.button-secondary {
    color: #3ecf4c;
    background-color: rgba(226, 252, 217, 0.8);
}

.divider {
    display: flex;
    align-items: center;
    gap: 20px;
}

.divider span {
    color: rgba(74, 80, 92, 1);
}

hr.solid {
    width: 518px;
    border-top: 3px solid #bbb;
}

.button-google {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(241, 241, 241, 1);
}

.button-google span {
    font-size: 16px;
    font-weight: 700;
    color: rgba(74, 80, 92, 1);
}

.hide-eye {
    cursor: pointer;
}

.margin-top-minus-24px {
    margin-top: -24px;
}

@media only screen and (max-width: 431px) {
    main.container-main {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 28px 20px;
        gap: 36px;
    }
    article.container-login {
        width: 100%;
        padding: 20px;
    }
    nav.navigation {
        width: 100%;
        padding: 16px 24px 16px 24px;
        border: 1px solid rgba(58, 53, 65, 0.12);
    }

    .header-form > h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: 0;
        text-align: center;
    }

    .button {
        width: 100%;
    }
    input-login-primary {
        width: 100%;
        height: 48px;
        border: 1px solid #f1f1f1;
        border-radius: 6px;
        padding: 4px 10px 4px 10px;
    }

    .header-form > span {
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.2px;
    }

    .header-form {
        margin-bottom: 20px;
    }

    .hide-eye {
        position: relative;
        bottom: 35px;
        left: 205px;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
    .hide-eye {
        position: relative;
        bottom: 35px;
        left: 480px;
    }
}
